.modal {
    &__dialog {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__content {
        position: absolute;
        min-width: 400px;
        padding: 20px 25px;
        background-color: rgb(234, 235, 236);
        box-shadow: 0 2px 8px rgba($color: #000000, $alpha: .4);
        border-radius: 2px;
        left: 40%;
        top: 40%;
        transform: translateY(-50%);
    }
}
