$widget-background: #292a2c;
$active-background: #313235;
$blue-background: #1b222a;

// $input-background: #37383b;

$main-text-color: #D0D0D0;
$secondary-text-color: #757575;

$button-color: #38393d;
$button-hover-color: #333437;
$button-active-color: #2e2f32;
$shadow:  0px 4px 12px rgba(0, 0, 0, 0.192);
$text-information: #bbb9b9;
