@import '../../../assets/variables.scss';

.user-profile {
    margin: 50px;
    display: grid;
    grid-template-columns: 50% 45%;
    // overflow: hidden;
    gap: 50px;
    &__main {
        grid-column: span 2;
        // width: 100%;
        padding: 4%;
        display: flex;
        background-color: $blue-background;
    }
    &__foto-container {
        width: 25%;
    }
    &__assessment {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        color: $text-information;
    }
    &__foto {
        position: relative;
        padding: 0 0 90% 0;
        width: 100%;
        img {
            position: absolute;
            object-position: 50% top;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            user-select: none;
            pointer-events: none;
        }
    }
    &__contact-information {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        &_item {
            margin: 20px;
            padding-left: 40px;
        }
    }
    &__user-inform {
        font-size: 1.2rem;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    &__department {
        margin-bottom: 20px;
    }
    &__basic-information {
        font-size: 1.2rem;
        padding-top: 6%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 25px;
        align-content: start;
    }
    &__general-information {
        display: flex;
        justify-content: space-between;
    }
}

.text-secondary {
    color: $text-information;
}

.icon1 {
    background: url("../../../assets/icon/number.svg") 0 center/auto 100% no-repeat;
}

.icon2 {
    background: url("../../../assets/icon/mail.svg") 0 center/auto 100% no-repeat;
}

.icon3 {
    background: url("../../../assets/icon/vk.svg") 0 center/auto 100% no-repeat;
}
